<%- include('../layout', { title: 'g' }) %>

    <section class="center-content">
        <h1>G PAGE</h1>
        <div class="border border-4 p-4">
            <form action="/g" method="GET">
                <div class="mb-4">
                    <h2 id="content-title">Enter License Number</h2>
                    <div class="col-md-6">
                        <input name="licenseNumber" type="text" class="form-control">
                    </div>
                </div>

                <button class="btn btn-secondary">SUBMIT</button>
            </form>
        </div>
    </section>