<%- include('../layout', { title: 'g2' }) %>

    <section class="center-content">
        <h1>G2 PAGE</h1>
        <div class="border border-4 p-4">
            <form action="/g2" method="POST">
                <div class="mb-4">
                    <h2 id="content-title">Personal Information</h2>
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">License Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Age</label>
                        <input type="integer" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">DOB</label>
                        <input type="integer" class="form-control">
                    </div>
                </div>


                <div class="mb-4">
                    <h2 id="content-title">Car Information</h2>
                    <div class="col-md-6">
                        <label class="form-label">Make</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Model</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Year</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Plate Number</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <button class="btn btn-secondary">SUBMIT</button>
            </form>
        </div>
    </section>