<%- include('../layout', { title: 'home' }) %>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-12 d-flex flex-column p-0">
                <section class="center-content h-100">
                    <h2 id="content-title">Dashboard</h2>
                    <p>Driving Test Booking Kiosk</p>
                </section>
                <section class="center-content text-bg-light p-3 h-100">
                    <p><strong>You can book G2/G drive test from this kiosk</strong></p>
                    <p>Posted by</p>
                    <p>DriveTest Center</p>
                </section>
            </div>
        </div>
    </div>