<%- include('../layout', { title: 'login' }) %>

    <section class="center-content">
        <h2 id="content-title">Login</h2>
        <p class="bg-warning text-dark p-3">Under Construction</p>
    </section>